@font-face {
    font-family: 'KronaOne';
    src: url('../assets/fonts/KronaOne-Regular.ttf');
}


.footer{
    display: flex;
    flex-direction: column;
    background: linear-gradient(180deg, #A14A6A 0%, #02002F 80.85%);
    background-size: cover;
    height: 100vh;
    width: 100%;
    position: relative;
}

.footer img{
    transform: translateX(0%) translateY(4%);
}

.footer-content{
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    color: #FFFFFF;
    background: rgba(255, 255, 255, 0.1);
    background-blend-mode: overlay;
    backdrop-filter: blur(3px);
    border: 1px solid rgba(255, 255, 255, 1);
    border-radius: 40px;
    margin-top: -7%;
    margin-left: 10%;
    height: 55%;
    width: 80%;
    font-family: 'KronaOne';
    font-size: 40px;
    font-weight: 400;
}

@media (max-width: 600px){
    .neko{
        transform: scale(0.7) translateX(-250px) translateY(150px);
    }
    .footer-content{
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 3rem;
        font-size: 35px;
    }
}